<!DOCTYPE html>
<html>
  <head>
    <title>upload</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="post" action="/upload" enctype="multipart/form-data">
      <input type="file" name="myimage">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
